<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
     <add name="MySQL" connectionString="Server=localhost;Database=shop;UID=root;Pwd=root;" />
  </connectionStrings>
  <appSettings>
    <add key="AppName" value="Shop"/>
    <add key="AppId" value="1"/>
  </appSettings>
</configuration>